.flex-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.nav-block {
	flex: 1 15em;
	background-color: tomato;
}

.article-container {
	flex: 4 15em;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.article {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	margin-bottom: 5px;
}

.article-container img {
	align-self: flex-end;
}

.footer {
	display: flex;
	background-color: lightgreen;
}