body {
	background: rgb(204, 204, 204);
}

div.page {
	background: white;
	margin: 0 auto;
	padding-top: 7cm;
	padding-left: 1.5cm;
	padding-right: 1.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

div.page[size="a4"] {
	width: 21cm;
	height: 29.7cm;
}
h1 {
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}

header {
	text-align: right;
}

h3 {
	font-family: 'Bad Script';
	font-weight: bold;
	text-indent: 25px;
	text-decoration: underline;
}

article p {
	font-family: 'Bad Script';
	text-indent: 20px;
	text-align: justify;
}